<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Add Mascot</h1>
            <p><%= tagline %></p>
            <form method="post" action="/add-mascot">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                    <div id="nameHelp" class="form-text">The name of your mascot.</div>
                </div>
                <div class="mb-3">
                    <label for="organization" class="form-label">Organization</label>
                    <input type="text" class="form-control" id="organization" name="organization">
                </div>
                <div class="mb-3">
                    <label for="year" class="form-label">Year</label>
                    <input type="number" class="form-control" id="year" name="year">
                    <div id="yearHelp" class="form-text">When the mascot was created</div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

</body>
</html>